name: Test

on:
  workflow_dispatch:

jobs:
        
  createReviewComment:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      discussions: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Get repository ID   
      id: get-repo-id
      uses: nvdaes/get-repository-id@main
    - name: Create discussion
      id: createDiscussion
      uses: abirismyname/create-discussion@v1.1.0
      env:
        GH_TOKEN: ${{ github.token }}      
      with:
        repository-id: "${{ steps.get-repo-id.outputs.repo-id }}"
        category-id: "DIC_kwDODeDxhs4CZ6Q6"
        title: Reviews for ${{ steps.getAddonNameAndVersion.outputs.addonName }} (${{ needs.getAddonId.outputs.addonId }})
        body: |
          Test.