name: Check for MyPy type hints

on:

  push:
  
  pull_request:
    branches:
      - main

jobs:
  mypy:
    runs-on: windows-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: pip install mypy
    - name: MyPy
      run: python -m mypy addon/
